<%= form_for(@fund_stock) do |f| %>
  <% if @fund_stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fund_stock.errors.count, "error") %> prohibited this fund_stock from being saved:</h2>

      <ul>
      <% @fund_stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fund_id %><br>
    <%= f.number_field :fund_id %>
  </div>
  <div class="field">
    <%= f.label :stock_id %><br>
    <%= f.number_field :stock_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
