<h1>Listing userfunds</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Fund</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userfunds.each do |userfund| %>
      <tr>
        <td><%= userfund.user_id %></td>
        <td><%= userfund.fund_id %></td>
        <td><%= link_to 'Show', userfund %></td>
        <td><%= link_to 'Edit', edit_userfund_path(userfund) %></td>
        <td><%= link_to 'Destroy', userfund, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Userfund', new_userfund_path %>
